#!/bin/sh

command -v lsd > /dev/null 2>&1 && alias ls="lsd"

alias sudo='sudo '

alias ll="ls -AlF"
alias lla="ll -A"
alias l="ls -F"
alias la="ls -A"
alias l1="ls -1 -F"

# alias bat="batcat"

# Add confirmation when losing files
alias rm="rm -i"
alias mv="mv -i"

alias chmod="chmod --preserve-root"

alias fd=fdfind

alias man="man -L ru"

# Add an "alert" alias for long running commands.  Use like so:
# sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

#shellcheck disable=SC2139
command -v lf > /dev/null 2>&1 && alias sudolf="sudo $(command -v lf)"
